NEXTAUTH_AURL=
NEXTAUTH_SECRET=
AUTH_SECRET=
# Use port 5432 for Direct Connection
DATABASE_URL=
# For Prisma, you often need both if using a pooler in production:
# DATABASE_URL uses the pooler (6543) + ?pgbouncer=true
# DIRECT_URL uses the direct connection (5432)
GOOGLE_GENERATIVE_AI_API_KEY=
